
AssetManagermentSystem/.vs
AssetManagermentSystem/AMS/bin
AssetManagermentSystem/AMS.API/bin
AssetManagermentSystem/AMS.BUS/bin
AssetManagermentSystem/AMS.COMMON/bin
AssetManagermentSystem_fontend/node_modules

