USE [AMS_DB]
GO
/****** Object:  StoredProcedure [dbo].[sp_BaoCaoNhapKho]    Script Date: 2022-05-08 9:50:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_BaoCaoNhapKho]
	@dateStart datetime,
	@dateEnd datetime,
	@searchContent NVARCHAR(MAX),
	@store NVARCHAR(MAX)
AS
-- [dbo].[sp_BaoCaoYeuCauPheDuyet] '2021-10-14 09:57:50.200', '2022-12-14 09:57:50.200', '', 'dc55f886-34f7-40bc-98a4-a9b607bfcef7'
	SELECT 
	rt.RequestBy [Người yêu cầu],
	ISNULL(ui.UserName, si.StoreName) [Yêu cầu nhập],
	ISNULL(uh.Quantity, invd.Quantity) [Số lượng nhập],
	si.StoreName [Kho],
	rt.Description [Ghi chú],
	CONVERT(varchar, rt.CreateDate, 103) [Ngày nhập kho]
	FROM request_ticket_history rt
	LEFT JOIN usage_history uh on rt.ID = uh.TicketID
	LEFT JOIN user_identifie ui on uh.UsageFor = ui.ID
	LEFT JOIN invoice inv on inv.TicketID = rt.ID
	LEFT JOiN invoice_detail invd on inv.ID = invd.InvoiceID
	LEFT JOIN store_Identifie si on si.ID = inv.StoreID
	where rt.CreateDate between @dateStart and DATEADD(day, 1,@dateEnd) 
	and (rt.Description like '%'+@searchContent+'%' 
	or rt.RequestBy like '%'+@searchContent+'%')
	and si.ID = @store
	and rt.IsApprove = 1
	and rt.RequestType = 'Shopping'
	ORDER BY rt.CreateDate desc