USE [AMS_DB]
GO
/****** Object:  StoredProcedure [dbo].[sp_BaoCaoTonKho]    Script Date: 2022-05-08 9:57:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_BaoCaoTonKho]
	@dateStart datetime,
	@dateEnd datetime,
	@searchContent NVARCHAR(MAX),
	@store NVARCHAR(MAX)
AS
	
-- [dbo].[sp_BaoCaoTonKho] '2021-10-14 09:57:50.200', '2021-12-14 09:57:50.200', '', 'dc55f886-34f7-40bc-98a4-a9b607bfcef7'
	SELECT
	si.StoreName [Kho],
	ac.AssetClassifyName [Phân loại],
	ad.AssetFullName [Tên],
	CONVERT(varchar, ad.ExpirationDate, 103) [Ngày hết hạn],
	ad.QuantityOriginalStock [Tổng lượng],
	ad.QuantityInStock [Tổng lượng tồn kho],
	ad.QuantityUsed [Tổng lượng đã sử dụng],
	ad.Price [Giá trị],
	CONVERT(varchar, ad.CreateDate, 103) [Ngày tạo]
	FROM asset_detail ad 
	LEFT JOIN asset_classify ac on ad.AssetClassifyID = ac.ID
	LEFT JOIN store_Identifie si on si.ID = ad.StoreID
	WHERE ad.IsActive = 1 and ad.CreateDate between @dateStart and DATEADD(day, 1, @dateEnd)  and (
		ac.AssetClassifyName LIKE '%' + @searchContent + '%'
		or ad.AssetFullName LIKE '%' + @searchContent + '%')
		and si.ID = @store
	order by ad.CreateDate desc