@import "src/Access/Css/Constant.scss";

.chat-item {
    padding-bottom: 1vw;

    .icon {}

    .chat-content {
        word-wrap       : break-word;
        border-style    : solid;
        border-width    : 1px;
        border-color    : $background-color;
        padding         : 10px;
        font-size       : $fontsize5;
        margin          : 0 10px;
        background-color: $background-color;
        border-radius   : 10px;
    }

}

.left {
    display       : flex;
    flex-direction: row;
    align-items   : center;
    flex-wrap     : nowrap;
}

.right {
    display       : flex;
    flex-direction: row-reverse;
    align-items   : center;
    flex-wrap     : nowrap;
}