@import "src/Access/Css/Constant.scss";

.invoice {
    .invoice-header {
        text-align: start;
    }

    .invoice-body {
        padding-top: 10px;
        width      : 100%;
        max-height : 60vh;
        min-height : 60vh;
    }

    .invoice-tool {
        .tool-left {
            text-align: start;
        }

        .tool-right {
            text-align: end;
        }
    }
}

.flex-center {
    display       : flex;
    align-items   : center;
    flex-direction: row;
    flex-wrap     : nowrap;

    .item {
        margin-right    : 10px;
    }
}

.flex {
    display       : flex;
    align-items   : center;
    flex-direction: row;
    flex-wrap     : nowrap;
}

.invoice-detail{
    .header{
        font-weight: bold;
        font-size: $fontsize3;
        text-align: center;
    }
    .info{
        margin: 10px 0;
        font-size: $fontsize4;
        display: block;
    }
}