@import "src/Access/Css/Constant.scss";
.supplier {
    width     : 100%;
    max-height: 90vh;
    min-height: 90vh;

    .supplier-header {
        text-align: start;
    }

    .supplier-body {
        padding-top: 10px;
        width      : 100%;
        max-height : 65vh;
        min-height : 65vh;

        .select-supplier{
            width: 100%;
        }
    }

    .supplier-body-request {
        padding-top: 10px;
        width      : 100%;
        max-height : 90vh;
        min-height : 90vh;

        .select-supplier{
            width: 100%;
        }
    }

    .supplier-tool {
        .tool-left {
            text-align: start;
        }

        .tool-right {
            text-align: end;
        }
    }
}