.warnign-message {
    color: orange !important;
}

.error-message {
    color: red !important;
}

.success-message {
    color: green !important;
}

.label {
    width     : 100vh;
    height    : 100vh;
    text-align: start;
}

.input {
    margin-bottom: 1vh;
    border-radius: 25px !important;
    font-size    : 2rem;
}

.group {
    padding-top: 1vh;
}

.link {
    color : #fff;
    cursor: pointer;
}

.ams-btn {
    margin-bottom: 1vh;
    cursor       : pointer;
    color        : white;

    &:hover {
        color: rgb(192, 192, 192) !important;
    }
}

.body-content {
    width  : auto;
    background-color: azure;
}