.navbar {
    background-color: indigo;
    height          : max-content;
    width           : 100%;
    padding-left    : 1vh;
    padding-right   : 2vh;
    position        : fixed;

    .nav-bar-right {
        text-align: end;
    }

    .nav-bar-left {
        text-align: start;
        display   : inline-flex;
    }

    .nav-bar-item {
        margin    : 1.5vh;
        text-align: center;
        display   : inline-block;
    }

    .number-noti {
        font-size       : 0.9vh;
        text-align      : center;
        position        : fixed;
        top             : 1vh;
        border-radius   : 40px;
        padding         : 3px;
        width           : max-content;
        height          : max-content;
        min-width       : 2vh;
        min-height      : 2vh;
        margin-left     : -8px;
        background-color: red;
        color           : white;
    }
}

.board-info {
    width           : 30vh;
    height          : max-content;
    position        : absolute;
    background-color: white;
    color           : black;
    font-size       : 1.5vh;
    padding         : 10px;
    top             : 7vh;
    right           : 0;
    box-shadow      : 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    .menu-item {
        cursor: pointer;
        text-align: start;
        width: auto;
        height: auto;

        &:hover {
            background-color: rgb(233, 248, 198);
        }

        .menu-label{
            margin: auto;
            padding-left: 10px;
        }
    }

}