@import "src/Access/Css/Constant.scss";
.report {
    width     : 100%;
    max-height: 90vh;
    min-height: 90vh;

    .report-body {
        padding-top: 10px;
        width      : 100%;

        .report-content {
            width     : 100%;
        }
    }
}

.input{
    width: 100%;
}