$font-family: "Montserrat",
sans-serif,
"Apple Color Emoji",
"Segoe UI Emoji",
"Segoe UI Symbol",
"Noto Color Emoji";
$orange-color     : #874d00;
$red-color        : #820014;
$green-color      : #135200;
$white-color      : #fff;
$gray-color       : rgb(100, 100, 100);
$primary-color    : rgb(29, 40, 138);
$background-color : rgb(240, 240, 240);
$rem              : 1rem;
$max-vh           : 100vh;
$max-vw           : 100vw;
$fdf              : 16;
$vw               : 1vw;
$fontsize1        : (30 / $fdf) * $rem;
$fontsize2        : (24 / $fdf) * $rem;
$fontsize3        : (20 / $fdf) * $rem;
$fontsize4        : (16 / $fdf) * $rem;
$fontsize5        : (14 / $fdf) * $rem;
$border-radius    : 0.2rem;
$margin           : 1rem;
$background-green : #28a745;
$background-blue  : #007bff;
$background-yellow: #e4ac05;
$background-orange: #dc6a35;