@import "src/Access/Css/Constant.scss";

.asset-tool {
    .tool-left {
        text-align: start;
    }

    .tool-right {
        text-align: end;
    }
}

.list-asset{
    .field{
        padding: 2px;
    }
}