@import "src/Access/Css/Constant.scss";

.body {
    overflow-y: auto;
    max-height: 90vh;

    .left-side {
        max-height: 60vh;
        overflow-y: auto;
    }

    .box {
        border-radius: $border-radius;
        border-color : $white-color;
        border-style : solid;
        border-width : 1px;
        margin       : 5vh;
        padding      : 1vh;
        box-shadow   : 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

        .box-header {
            margin         : 1vh;
            font-weight    : bold;
            display        : flex;
            text-align     : center;
            flex-direction : column;
            align-items    : center;
            justify-content: center;
        }

        .box-body {
            color          : rgb(13, 153, 0);
            font-weight    : bold;
            display        : flex;
            text-align     : center;
            flex-direction : column;
            align-items    : center;
            justify-content: center;
        }

    }
}

.footer {}